/*
*  父元素相对位置，左侧绝对位置，右侧宽度自适应，右侧margin让出左侧宽度；
*/
.body{
	min-width: 630px;
}
header{
	border: 1px solid #000000;
	text-align: center;
}
.container{
	position: relative;
}
.nav{
	width: 200px;
	background-color: #33ff857a;
	position: absolute;
}
.section{
	background-color: #ef348a57;
	margin-left: 200px;
}


